    @model QTrans.Models.AreaPreferenceParam

@{

    List<QTrans.Models.ViewModel.Common.CountryState> lstState = new QTrans.Repositories.Repositories.CommonRepository().GetState();

}

<div class="card-header" style="margin-bottom:15px;">
    <strong>Area Preference</strong>
</div>
@if (@ViewBag.Message != null)
{
    <div id="popupdiv" class="alert alert-success">
        @ViewBag.Message
    </div>
}
else if (@ViewBag.MessageFail != null)
{
    <div id="popupdiv" class="alert alert-danger">
        @ViewBag.Message
    </div>
}
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row form-group col-12">
    <label class="form-control-label col-md-1" style="padding-left:20px;">
        State
    </label>
    <div class="col-8">
        @Html.DropDownList("State", new SelectList(lstState, "StateId", "State"), "-- Select --", new { @id = "ddlState", @class = "form-control col-md-5" })
    </div>
</div>
<div class="row form-group col-12">
    <label class=" form-control-label col-md-1" style="padding-left:20px;">
        City
    </label>
    <div class="col-8" id="City">
        @Html.DropDownListFor(model => model.CityId, new List<SelectListItem>(), "--Select--", new { @id = "ddlCity", @class = "form-control col-md-5" })
    </div>
</div>
<div class="row form-group col-12">
    <div class="col-md-1" id="City">
    </div>
    <div class="col-8" id="City">
        <button type="submit" class="btn btn-success btn-sm" id="submit">
            <i class="fa fa-dot-circle-o"></i> Submit
        </button>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#ddlState').change(function () {
            $.ajax({
                type: "Get",
                url: "../Common/GetCity",
                data: { stateId: $('#ddlState').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    var City = "<select id='ddlCity'  class = 'form-control  col-md-5' >";
                    City = City + '<option value="">--Select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        City = City + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
                    }
                    City = City + '</select>';
                    $('#City').html(City);
                }
            });
        });
    });

    $(document).ready(function () {
        $('#submit').click(function () {
            $.ajax({
                type: "Get",
                url: "../Common/CreateAreaPeference",
                data: { cityId: $('#ddlCity').val() },
                datatype: "json",
                traditional: true,
                success: location.href = "/Common/Index",
            });
        });
    });
</script>
