@model IEnumerable<QTrans.Models.ViewModel.Bidding.PostingListBid>

@{
    ViewBag.Title = "ActivePost";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}
<script src="~/Content/Desgin/assets/js/vendor/jquery-2.1.4.min.js"></script>
<script src="~/Content/Desgin/assets/js/popper.min.js"></script>
<script src="~/Content/Desgin/assets/js/plugins.js"></script>
<script src="~/Content/Desgin/assets/js/main.js"></script>

<script src="~/Content/Desgin/assets/js/lib/data-table/datatables.min.js"></script>
<script src="~/Content/Desgin/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="~/Content/Desgin/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="~/Content/Desgin/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="~/Content/Desgin/assets/js/lib/data-table/jszip.min.js"></script>
<script src="~/Content/Desgin/assets/js/lib/data-table/pdfmake.min.js"></script>
<script src="~/Content/Desgin/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="~/Content/Desgin/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="~/Content/Desgin/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="~/Content/Desgin/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="~/Content/Desgin/assets/js/lib/data-table/datatables-init.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#bootstrap-data-table-export').DataTable();
    });</script>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="card" style="border-style:none">
            <div class="card-header">
                <strong class="card-title">Active Posting</strong>
            </div>
            <div>
                <div class="row">                        </div>

                <div class="card-body">
                    <table id="bootstrap-data-table" class="table table-striped">
                        <tr>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.posttype)
                                </th>*@
                            <th>
                                From Address
                            </th>
                            <th>
                                To Adddress
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.materialtype)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.packagetype)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.materialweight)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.vehicletype)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.pickupdatetime)
                            </th>
                            @*<th>
                                    @Html.DisplayNameFor(model => model.ordertypeValue)
                                </th>*@
                            <th>
                                @Html.DisplayNameFor(model => model.biddingclosedatetime)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.postamount)
                            </th>
                            @*<td>
                                    @Html.DisplayNameFor(model => model.loadingtype)
                                </td>*@
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.posttype)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.src_city),
                                    @Html.DisplayFor(modelItem => item.src_state)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.dst_city),
                                    @Html.DisplayFor(modelItem => item.dst_state)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.materialtype)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.packagetype)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.materialweight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.vehicletype)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.pickupdatetime)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.ordertypeValue)
                                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.biddingclosedatetime)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.postamount)
                                </td>
                                @*<td>
                                        @Html.DisplayFor(modelItem => item.loadingtype)
                                    </td>*@
                                <td>
                                    @Html.ActionLink("Details", "PostDetails", new { id = item.dtlpostingid })
                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
        </div>
</div>
    </div>


