@model IEnumerable<QTrans.Models.ViewModel.Bidding.PostingListBid>

@{
    ViewBag.Title = "ClosePost";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}
<div class="card" style="border-style:none">
    <div class="card-header">
        <strong class="card-title">Active Posting</strong>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="row form-group">
                <div class="col-sm-6" style="float:right;">
                    <div id="bootstrap-data-table_filter" class="dataTables_filter">
                        Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="bootstrap-data-table">
                    </div>
                </div>
                <div class="col-sm-6" style="float:left;">
                    <div class="dataTables_length" id="bootstrap-data-table_length">
                        Paging :<select name="bootstrap-data-table_length" aria-controls="bootstrap-data-table" class="form-control form-control-sm">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="-1">All</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="row" style="border:2px;border-color:darkcyan;border-style:solid;">
                    <div class="row form-group col-sm-12">
                        <div class="col-sm-4">

                            @Html.DisplayFor(modelItem => item.src_state),
                            @Html.DisplayFor(modelItem => item.src_city) <br />
                            @Html.DisplayFor(modelItem => item.src_landmark)- @Html.DisplayFor(modelItem => item.src_pincode)

                        </div>
                        <div class="col-sm-4">
                            <span style="font-weight:bold">@Html.DisplayFor(modelItem => item.materialweight) </span><span style="font-weight:bold">Ton</span>
                            <span style="font-weight:bold">
                                @Html.DisplayFor(modelItem => item.materialtype)
                            </span>
                            <img src="~/Content/Icons/Truck3.png" width="150px;" height="80px;" />
                        </div>
                        <div class="col-sm-4">
                            <span style="float:right;">
                                @Html.DisplayFor(modelItem => item.dst_state),
                                @Html.DisplayFor(modelItem => item.dst_city) <br />
                                @Html.DisplayFor(modelItem => item.dst_landmark)- @Html.DisplayFor(modelItem => item.dst_pincode)
                            </span>
                            <br /><br />
                            <span style="float:right;padding-top:5%;color:orange;font-weight:bold">@Html.ActionLink("Details", "Details", new { Id = item.postingid }, new { htmlAttributes = new { color = "orange" } }) <span class="ti-arrow-circle-right"></span></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <span class="col-sm-6" style="font-weight:bold">Vehicle Type : </span>@Html.DisplayFor(modelItem => item.vehicletype)<br />
                            <span class="col-sm-6" style="font-weight:bold">Package Type : </span>@Html.DisplayFor(modelItem => item.packagetype)<br />
                        </div>
                        <div class="col-sm-4">
                            <span class="col-sm-12" style="font-weight:bold">Order Type : </span>@Html.DisplayFor(modelItem => item.ordertypeValue)
                            <div class="col-sm-12">
                                <span style="font-weight:bold">Amount : </span>
                                @Html.DisplayFor(modelItem => item.postamount)
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <span style="font-weight:bold">Pickup On : </span>@Html.DisplayFor(modelItem => item.pickupdatetime)
                            </div>
                            <div class="col-sm-12">
                                <span style="font-weight:bold">Bidding Close On : </span>
                                @Html.DisplayFor(modelItem => item.biddingclosedatetime)
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-md-6" style="float:left;">
            <div id="bootstrap-data-table_paginate">
                <ul class="pagination">
                    <li class="paginate_button page-item previous disabled" id="bootstrap-data-table_previous">
                        <a href="#" aria-controls="bootstrap-data-table" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                    </li>
                    <li class="paginate_button page-item active">
                        <a href="#" aria-controls="bootstrap-data-table" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                    </li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="bootstrap-data-table" data-dt-idx="2" tabindex="0" class="page-link">2</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="bootstrap-data-table" data-dt-idx="3" tabindex="0" class="page-link">3</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="bootstrap-data-table" data-dt-idx="4" tabindex="0" class="page-link">4</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="bootstrap-data-table" data-dt-idx="5" tabindex="0" class="page-link">5</a></li>
                    <li class="paginate_button page-item "><a href="#" aria-controls="bootstrap-data-table" data-dt-idx="6" tabindex="0" class="page-link">6</a></li>
                    <li class="paginate_button page-item next" id="bootstrap-data-table_next"><a href="#" aria-controls="bootstrap-data-table" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                </ul>
            </div>

        </div>
        <div class="col-md-6">
            <div id="bootstrap-data-table_info" style="float:right;" role="status" aria-live="polite">@ViewBag.ShowPaging show message</div>
        </div>
    </div>


</div>