@model QTrans.Models.BiddingProfile

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card" style="border:none">
        <div class="card-header">
            <strong>Bidding</strong>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="card-body card-block">
            <div class="row form-group" style="visibility:hidden;display:none;">
                @Html.LabelFor(model => model.dtlpostingid, htmlAttributes: new { @class = "form-control-label" })
                <div class="col-12 col-sm-6">
                    @Html.EditorFor(model => model.dtlpostingid, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-1">
                    @Html.LabelFor(model => model.amount, htmlAttributes: new { @class = "form-control-label" })
                </div>
                <div class="col-sm-3">
                    @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.amount), autocomplete = "off" } })
                    @Html.ValidationMessageFor(model => model.amount, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-1">
                    @Html.LabelFor(model => model.biddercomment, htmlAttributes: new { @class = "form-control-label" })
                </div>
                <div class="col-sm-9">
                    @Html.TextAreaFor(model => model.biddercomment, 5, 70, new { htmlAttributes = new { @class = "form-control col-sm-8", placeholder = @Html.DisplayNameFor(m => m.biddercomment) } })
                    @Html.ValidationMessageFor(model => model.biddercomment, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="row form-group">
                    @Html.LabelFor(model => model.paymentmethod, htmlAttributes: new { @class = "form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.paymentmethod, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.paymentmethod, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div >
                <button type="submit" class="btn btn-success btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Bid
                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>
        </div>
    </div>
}
