@model QTrans.Models.BiddingProfile

<div>
    <h4>BiddingProfile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.biddingid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biddingid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtlpostingid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtlpostingid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postingid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postingid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.biddercomment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biddercomment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.servicecharges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.servicecharges)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paymentmethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paymentmethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cancellationreason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cancellationreason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifydate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifydate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
