@model QTrans.Models.ViewModel.Bidding.PostingDetailsBid

@{
    ViewBag.Title = "PostDetails";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

<div class="card" style="border:none">
    <div class="card-header">
        <strong>Post Details</strong>
    </div>
    <div style="visibility:hidden;display:none;">
        <span class="form-control-static" id="DtlPostingId">@Html.DisplayFor(model => model.dtlpostingid)</span>
    </div>
    <div class="card-body">
        <div class="row form-group">
            <label class=" form-control-label">
                @Html.DisplayNameFor(model => model.posttype)
            </label>
            &nbsp; : &nbsp;
            <span class="form-control-static">@Html.DisplayFor(model => model.posttype)</span>
        </div>
        <div class="row col-12">
            <div class="col-6">
                <div class="card-header" style="margin-bottom:15px;background-color:white;"><strong>From Address :</strong></div>               
                <div class="row form-group">
                    @Html.LabelFor(model => model.src_city, htmlAttributes: new { @class = "form-control-label col-md-4" })
                    @Html.DisplayFor(model => model.src_city, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.src_state, htmlAttributes: new { @class = "form-control-label col-md-4" })
                    @Html.DisplayFor(model => model.src_state, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                </div>
                <div class="row form-group">
                    @Html.LabelFor(model => model.src_pincode, htmlAttributes: new { @class = "form-control-label col-md-4" })
                    @Html.DisplayFor(model => model.src_pincode, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                </div>
            </div>
            <div class="col-6">
                <div class="card-header" style="margin-bottom:15px;background-color:white;"><strong>To Address :</strong></div>               
                <div class="row form-group">
                    @Html.LabelFor(model => model.dst_city, htmlAttributes: new { @class = "form-control-label col-md-4" })
                    @Html.DisplayFor(model => model.dst_city, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                </div>
                <div class="row form-group">
                    @Html.LabelFor(model => model.dst_state, htmlAttributes: new { @class = "form-control-label col-md-4" })
                    @Html.DisplayFor(model => model.dst_state, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.dst_pincode, htmlAttributes: new { @class = "form-control-label col-md-4" })
                    @Html.DisplayFor(model => model.dst_pincode, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                </div>
            </div>
        </div>
        <div class="row col-12">
            <div class="col-6">
                <div class="card-header" style="margin-bottom:15px;background-color:white;"><strong>Material Details :</strong></div>
                <div class="row form-group">
                    @Html.LabelFor(model => model.materialtype, htmlAttributes: new { @class = "form-control-label  col-md-4" })
                    @Html.DisplayFor(model => model.materialtype, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                </div>
                <div class="row form-group">
                    @Html.LabelFor(model => model.materialweight, htmlAttributes: new { @class = "form-control-label col-md-4" })
                    @Html.DisplayFor(model => model.materialweight, new { htmlAttributes = new { @class = "form-control col-md-6", placeholder = @Html.DisplayNameFor(m => m.materialweight) } })
                </div>
                <div class="row form-group">
                    @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "form-control-label col-md-4" })
                    @Html.DisplayFor(model => model.description, new { htmlAttributes = new { @class = "form-control col-md-8", placeholder = @Html.DisplayNameFor(m => m.description) } })
                </div>
            </div>
            <div class="col-6">
                <div class="card-header" style="margin-bottom:15px;background-color:white;"><strong>Package Details :</strong></div>
                <div class="row form-group">
                    @Html.LabelFor(model => model.packagetype, htmlAttributes: new { @class = "form-control-label col-md-4" })
                    @Html.DisplayFor(model => model.packagetype, new { htmlAttributes = new { @class = "form-control col-md-7" } })
                </div>
                <div class="row form-group">
                    @Html.LabelFor(model => model.packingdimension, htmlAttributes: new { @class = "form-control-label col-md-4" })
                    @Html.DisplayFor(model => model.packingdimension, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                </div>
                <div class="row form-group">
                    @Html.LabelFor(model => model.numberpackets, htmlAttributes: new { @class = "form-control-label col-md-4" })
                    @Html.DisplayFor(model => model.numberpackets, new { htmlAttributes = new { @class = "form-control col-md-6" } })
                </div>
                <div class="row form-group">
                    @Html.LabelFor(model => model.packagetypedesc, htmlAttributes: new { @class = "form-control-label col-md-4" })
                    @Html.DisplayFor(model => model.packagetypedesc, new { htmlAttributes = new { @class = "form-control col-md-8" } })
                </div>
            </div>
        </div>
        <div class="row col-12">
            <div class="card-header col-md-12" style="margin-bottom:15px;background-color:white;"><strong>Post Details :</strong></div>
            <div class="row form-group col-6">
                @Html.LabelFor(model => model.vehicletype, htmlAttributes: new { @class = "form-control-label col-md-4" })
                @Html.DisplayFor(model => model.vehicletype, new { htmlAttributes = new { @class = "form-control col-md-8" } })
            </div>
            <div class="row form-group col-6">
                @Html.LabelFor(model => model.novehicle, htmlAttributes: new { @class = "form-control-label col-md-4" })
                @Html.DisplayFor(model => model.novehicle, new { htmlAttributes = new { @class = "form-control col-md-7" } })
            </div>
            <div class="row form-group col-6">
                @Html.LabelFor(model => model.pickupdatetime, htmlAttributes: new { @class = "form-control-label col-md-4" })
                @Html.DisplayFor(model => model.pickupdatetime, new { htmlAttributes = new { @class = "form-control col-md-6" } })
            </div>
            <div class="row form-group col-6">
                @Html.LabelFor(model => model.postamount, htmlAttributes: new { @class = "form-control-label col-md-4" })
                @Html.DisplayFor(model => model.postamount, new { htmlAttributes = new { @class = "form-control col-md-6" } })
            </div>
            <div class="row form-group col-6">
                @Html.LabelFor(model => model.contractstartdatetime, htmlAttributes: new { @class = "form-control-label col-md-4" })
                @Html.DisplayFor(model => model.contractstartdatetime, new { htmlAttributes = new { @class = "form-control col-md-6" } })
            </div>

            <div class="row form-group col-6">
                @Html.LabelFor(model => model.contractenddatetime, htmlAttributes: new { @class = "form-control-label col-md-4" })
                @Html.DisplayFor(model => model.contractenddatetime, new { htmlAttributes = new { @class = "form-control col-md-6" } })
            </div>
            <div class="row form-group col-6">
                @Html.LabelFor(model => model.biddingactivatedatetime, htmlAttributes: new { @class = "form-control-label col-md-4" })
                @Html.DisplayFor(model => model.biddingactivatedatetime, new { htmlAttributes = new { @class = "form-control col-md-6" } })

            </div>
            <div class="row form-group col-6">
                @Html.LabelFor(model => model.biddingclosedatetime, htmlAttributes: new { @class = "form-control-label col-md-4" })
                @Html.DisplayFor(model => model.biddingclosedatetime, new { htmlAttributes = new { @class = "form-control col-md-6" } })
            </div>
            <div class="row form-group col-6">
                @Html.LabelFor(model => model.ordertypeValue, htmlAttributes: new { @class = "form-control-label col-md-4" })
                @Html.DisplayFor(model => model.ordertypeValue, new { htmlAttributes = new { @class = "form-control col-md-6" } })
            </div>
            <div class="row form-group col-6">
                @Html.LabelFor(model => model.poststatusvalue, htmlAttributes: new { @class = "form-control-label col-md-4" })
                @Html.DisplayFor(model => model.poststatusvalue, new { htmlAttributes = new { @class = "form-control col-md-6" } })
            </div>

            <div class="row form-group col-12">
                @Html.LabelFor(model => model.onpickuppercentage, htmlAttributes: new { @class = "form-control-label col-md-8" })
                @Html.DisplayFor(model => model.onpickuppercentage, new { htmlAttributes = new { @class = "form-control col-md-2" } })
            </div>
            <div class="row form-group col-12">
                @Html.LabelFor(model => model.onunloadingpercentage, htmlAttributes: new { @class = "form-control-label col-md-8" })
                @Html.DisplayFor(model => model.onunloadingpercentage, new { htmlAttributes = new { @class = "form-control col-md-2" } })
            </div>

            <div class="row form-group col-6">
                @Html.LabelFor(model => model.deliveryperiodday, htmlAttributes: new { @class = "form-control-label col-md-6" })
                @Html.DisplayFor(model => model.deliveryperiodday, new { htmlAttributes = new { @class = "form-control col-md-4" } })
            </div>
            <div class="row form-group col-6">
                @Html.LabelFor(model => model.creditday, htmlAttributes: new { @class = "form-control-label col-md-4" })
                @Html.DisplayFor(model => model.creditday, new { htmlAttributes = new { @class = "form-control col-md-4" } })
            </div>

            <div class="row form-group col-6">
                @Html.LabelFor(model => model.gprs, htmlAttributes: new { @class = "form-control-label col-md-10" })
                @Html.DisplayFor(model => model.gprs, new { htmlAttributes = new { @class = "form-control col-md-4" } })
            </div>
            <div class="row form-group col-6">
                @Html.LabelFor(model => model.transporterinsurance, htmlAttributes: new { @class = "form-control-label col-md-10" })
                @Html.DisplayFor(model => model.transporterinsurance, new { htmlAttributes = new { @class = "form-control col-md-4" } })
            </div>
            <div class="row form-group col-6">
                @Html.LabelFor(model => model.menpowerloading, htmlAttributes: new { @class = "form-control-label col-md-10" })
                @Html.DisplayFor(model => model.menpowerloading, new { htmlAttributes = new { @class = "form-control col-md-4" } })
            </div>
            <div class="row form-group col-6">
                @Html.LabelFor(model => model.tolltaxinclude, htmlAttributes: new { @class = "form-control-label col-md-10" })
                @Html.DisplayFor(model => model.tolltaxinclude, new { htmlAttributes = new { @class = "form-control col-md-4" } })
            </div>
            <div class="row form-group col-6">
                @Html.LabelFor(model => model.menpowerunloading, htmlAttributes: new { @class = "form-control-label col-md-10" })
                @Html.DisplayFor(model => model.menpowerunloading, new { htmlAttributes = new { @class = "form-control col-md-4" } })
            </div>

            <div class="row form-group col-6">
                @Html.LabelFor(model => model.loadingtype, htmlAttributes: new { @class = "form-control-label col-md-10" })
                @Html.DisplayFor(model => model.loadingtype, new { htmlAttributes = new { @class = "form-control col-md-4" } })
            </div>
            <div class="row form-group col-12">
                @Html.LabelFor(model => model.remark, htmlAttributes: new { @class = "form-control-label col-md-2" })
                @Html.DisplayFor(model => model.remark, new { htmlAttributes = new { @class = "form-control  col-md-10" } })
            </div>
        </div>
        <div id="biddingview">
            @Html.Partial("Create", new QTrans.Models.BiddingProfile())
        </div>
    </div>
</div>

