@model QTrans.WebPortal.Models.UserProfile

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">       
        $(function () {
            $('.btnNext').click(function () {
                $('.nav-tabs > .active').next('li').find('a').trigger('click');
            });

            $('.btnPrevious').click(function () {
                $('.nav-tabs > .active').prev('li').find('a').trigger('click');
            });
        })
</script>

<div>
    <h4>User Profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <div id="wizard">
            <!-- Tabstrip -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#personal" role="tab" data-toggle="tab">Personal</a>
                </li>
                <li role="presentation">
                    <a href="#Address" role="tab" data-toggle="tab">Contact</a>
                </li>
                <li role="Identity">
                    <a href="#Identity" role="tab" data-toggle="tab">Identity</a>
                </li>
                <li role="AreaPeferance">
                    <a href="#AreaPeferance" role="tab" data-toggle="tab">Area Peferance</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="personal" style="margin-top:15px">
                    <dt>
                        @Html.DisplayNameFor(model => model.firstname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.firstname)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.middlename)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.middlename)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.lastname)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.lastname)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.emailaddress)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.emailaddress)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.mobilenumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.mobilenumber)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.dob)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.dob)
                    </dd>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @*<a class="btn-all btnNext">Next</a>*@
                            <input value="Next" class="btn btn-default btnNext" />
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Address" style="margin-top:15px">
                    <dd>
                        @Html.DisplayFor(model => model.landlinenumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.landlinenumber)
                    </dt>

                    <dt>
                        @Html.DisplayNameFor(model => model.addressline1)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.addressline1)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.addressline2)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.addressline2)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.country)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.country)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.state)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.state)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.district)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.district)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.city)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.city)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.pincode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.pincode)
                    </dd>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @*<a class="btn-all btnPrevious">Previous</a>
                                <a class="btn-all btnNext">Next</a>*@
                            <input value="Previous" class="btn btn-default btnPrevious" />
                            <input value="Next" class="btn btn-default btnNext" />
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="Identity" style="margin-top:15px">
                    <dt>
                        @Html.DisplayNameFor(model => model.photo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.photo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.pan)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.pan)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.gst)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.gst)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.aadhaarno)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.aadhaarno)
                    </dd>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @*<a class="btn-all btnPrevious">Previous</a>
                                <a class="btn-all btnNext">Next</a>*@
                            <input value="Previous" class="btn btn-default btnPrevious" />
                            <input value="Next" class="btn btn-default btnNext" />
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="AreaPeferance" style="margin-top:15px">

                    <dt>
                        @Html.DisplayNameFor(model => model.area)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.area)
                    </dd>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">

                            <input value="Previous" class="btn btn-default btnPrevious" />

                        </div>
                    </div>
                </div>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
