@model QTrans.WebPortal.Models.UserProfile

@{
    ViewBag.Title = "Edit User";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            });

        });
    </script>

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="col-lg-12">
        <div class="card" style="border:none">
            <div class="card-header">
                <strong>Edit User Profile</strong>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="card-body card-block">
                <div class="row form-group" style="visibility:hidden ">
                    @Html.LabelFor(model => model.userid, htmlAttributes: new { @class = "form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.userid, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.userid) } })
                        @Html.ValidationMessageFor(model => model.userid, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    @Html.LabelFor(model => model.firstname, htmlAttributes: new { @class = "form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.firstname, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.firstname) } })
                        @Html.ValidationMessageFor(model => model.firstname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.middlename, htmlAttributes: new { @class = " form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.middlename, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.middlename) } })
                        @Html.ValidationMessageFor(model => model.middlename, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.lastname, htmlAttributes: new { @class = " form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.lastname, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.lastname) } })
                        @Html.ValidationMessageFor(model => model.lastname, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.emailaddress, htmlAttributes: new { @class = " form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.emailaddress, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.emailaddress) } })
                        @Html.ValidationMessageFor(model => model.emailaddress, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.mobilenumber, htmlAttributes: new { @class = " form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.mobilenumber, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.mobilenumber) } })
                        @Html.ValidationMessageFor(model => model.mobilenumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="row form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = " form-control-label" })
                        <div class="col-12 col-sm-6">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Password), type = "password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>*@

                <div class="row form-group">
                    @Html.LabelFor(model => model.dob, htmlAttributes: new { @class = " form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.dob, new { htmlAttributes = new { @class = "form-control", placeholder = "Date Of Birth", @readonly = "true" } })
                        @Html.ValidationMessageFor(model => model.dob, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    @Html.LabelFor(model => model.landlinenumber, htmlAttributes: new { @class = " form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.landlinenumber, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.landlinenumber) } })
                        @Html.ValidationMessageFor(model => model.landlinenumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.addressline1, htmlAttributes: new { @class = " form-control-label", @for = "textarea-input" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.addressline1, new { htmlAttributes = new { @class = "form-control", @name = "textarea-input", placeholder = @Html.DisplayNameFor(m => m.addressline1) } })
                        @Html.ValidationMessageFor(model => model.addressline1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.addressline2, htmlAttributes: new { @class = " form-control-label", @for= "textarea-input" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.addressline2, new { htmlAttributes = new { @class = "form-control", @name = "textarea-input", placeholder = @Html.DisplayNameFor(m => m.addressline2) } })
                        @Html.ValidationMessageFor(model => model.addressline2, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.pincode, htmlAttributes: new { @class = " form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.pincode, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.pincode) } })
                        @Html.ValidationMessageFor(model => model.pincode, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    @Html.LabelFor(model => model.country, htmlAttributes: new { @class = " form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.country) } })
                        @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.state, htmlAttributes: new { @class = " form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.state) } })
                        @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.district, htmlAttributes: new { @class = " form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.district, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.district) } })
                        @Html.ValidationMessageFor(model => model.district, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.city, htmlAttributes: new { @class = " form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.city) } })
                        @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="row form-group">
                    @Html.LabelFor(model => model.photo, htmlAttributes: new { @class = " form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.photo, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.photo) } })
                        @Html.ValidationMessageFor(model => model.photo, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="row form-group">
                    @Html.LabelFor(model => model.area, htmlAttributes: new { @class = " form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.area, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.area) } })
                        @Html.ValidationMessageFor(model => model.area, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.pan, htmlAttributes: new { @class = " form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.pan, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.pan) } })
                        @Html.ValidationMessageFor(model => model.pan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.gst, htmlAttributes: new { @class = " form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.gst, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.gst) } })
                        @Html.ValidationMessageFor(model => model.gst, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.LabelFor(model => model.aadhaarno, htmlAttributes: new { @class = " form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.aadhaarno, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.aadhaarno) } })
                        @Html.ValidationMessageFor(model => model.aadhaarno, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    @Html.LabelFor(model => model.area, htmlAttributes: new { @class = " form-control-label" })
                    <div class="col-12 col-sm-6">
                        @Html.EditorFor(model => model.area, new { htmlAttributes = new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.area) } })
                        @Html.ValidationMessageFor(model => model.area, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success btn-sm">
                        <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    <button type="reset" class="btn btn-danger btn-sm">
                        <i class="fa fa-ban"></i> Reset
                    </button>
                </div>
            </div>
        </div>
    </div>
}

