@model IEnumerable<QTrans.Models.ViewModel.Posting.PostingList>

@{
    ViewBag.Title = "Completed Post List";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}




<div class="content mt-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Active Posting List</strong> <span class="ti-plus" style="float:right">
    @Html.ActionLink("New", "Create")
</span>
                    </div>
                    <div class="card-body>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <div class="row">

                                    <div class="column">
                                        
                                    </div>
                                    <div class="column">
                                        
                                    </div>
                                </div>
                            }
                        }
                            </div>

                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.posttype)
                                    </th>
                                    <th>
                                        Soure Address
                                    </th>
                                    <th>
                                        Destination Address
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.materialtype)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.packagetype)

                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.posttype)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.src_city),
                                                @Html.DisplayFor(modelItem => item.src_state)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.dst_city),
                                                @Html.DisplayFor(modelItem => item.dst_state)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.materialtype)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.packagetype)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.postingid }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.postingid }) |
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
</div>