@model QTrans.Models.PostingDetails

<div class="row form-group" style="visibility:hidden">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.dtlpostingid)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.dtlpostingid)
    </div>
</div>
<div class="row form-group" style="visibility:hidden">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.postingid)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.postingid)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.materialweight)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.materialweight)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.materialphotos)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.materialphotos)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.packingdimension)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.packingdimension)
    </div>
</div>
<div class="row form-group" >
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.numberpackets)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.numberpackets)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.vehicletype)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.vehicletype)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.novehicle)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.novehicle)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.deliveryperiodday)
        </label>
    </div>
    <div class="col-12 col-md-9">
        @Html.DisplayFor(model => model.deliveryperiodday)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.pickupdatetime)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.pickupdatetime)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.postamount)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.postamount)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.onpickuppercentage)
        </label>
    </div>
    <div class="col-12 col-md-9">
        @Html.DisplayFor(model => model.onpickuppercentage)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.onunloadingpercentage)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.onunloadingpercentage)
    </div>
</div>

<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.creditday)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.creditday)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.contractstartdatetime)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.contractstartdatetime)
    </div>
</div>

<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.contractenddatetime)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.contractenddatetime)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.ordertypeValue)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.ordertypeValue)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.biddingactivatedatetime)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.biddingactivatedatetime)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.biddingclosedatetime)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.biddingclosedatetime)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.poststatusvalue)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.poststatusvalue)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.gprs)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.gprs)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.menpowerloading)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.menpowerloading)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.menpowerunloading)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.menpowerunloading)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.transporterinsurance)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.transporterinsurance)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.tolltaxinclude)
        </label>
    </div>
    <div class="col-12 col-md-9">
        @Html.DisplayFor(model => model.tolltaxinclude)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.remark)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.remark)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.loadingtype)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.loadingtype)
    </div>
</div>
<div class="row form-group">
    <div class="col col-md-6">
        <label class=" form-control-label">
            @Html.DisplayNameFor(model => model.LastModifyDate)
        </label>
        &nbsp; : &nbsp;
        @Html.DisplayFor(model => model.LastModifyDate)
    </div>
</div>
