@model QTrans.Models.PostingDetails

<div>
    <h4>PostingDetails</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dtlpostingid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtlpostingid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postingid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postingid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.materialweight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.materialweight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.materialphotos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.materialphotos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.packingdimension)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.packingdimension)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numberpackets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberpackets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vehicletype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vehicletype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.novehicle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.novehicle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deliveryperiodday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deliveryperiodday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pickupdatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pickupdatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.postamount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.postamount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.onpickuppercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.onpickuppercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.onunloadingpercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.onunloadingpercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creditday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.creditday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contractstartdatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contractstartdatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contractenddatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contractenddatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ordertype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ordertype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.biddingactivatedatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biddingactivatedatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.biddingclosedatetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.biddingclosedatetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.poststatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.poststatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gprs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gprs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.menpowerloading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menpowerloading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.menpowerunloading)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.menpowerunloading)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.transporterinsurance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.transporterinsurance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tolltaxinclude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tolltaxinclude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loadingtype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loadingtype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.createddate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.createddate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifydate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifydate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
