@model IEnumerable<QTrans.Models.ViewModel.Posting.PostingList>

@{
    ViewBag.Title = "Completed Post List";
    Layout = "~/Views/Shared/_PrivateLayout.cshtml";
}




<div class="card" style="border-style:none">
    <div class="card-header">
        <strong class="card-title">Completed Posting List</strong> <span class="ti-plus" style="float:right">
            @Html.ActionLink("New", "Create")
        </span>
    </div>
    <div class="card-body">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="row" style="border:2px;border-color:darkcyan;border-style:solid;">
                    <div class="row form-group col-lg-12">
                        <div class="col-lg-4">

                            @Html.DisplayFor(modelItem => item.src_state),
                            @Html.DisplayFor(modelItem => item.src_city) <br />
                            @Html.DisplayFor(modelItem => item.src_landmark)- @Html.DisplayFor(modelItem => item.src_pincode)

                        </div>
                        <div class="col-lg-4">
                            <span style="font-weight:bold">@Html.DisplayFor(modelItem => item.materialweight) </span><span style="font-weight:bold">Ton</span>
                            <span style="font-weight:bold">
                                @Html.DisplayFor(modelItem => item.materialtype)
                            </span>
                            <img src="~/Content/Icons/Truck3.png" width="150px;" height="80px;" />
                            @*<span style="font-weight:bold">No of @Html.DisplayFor(modelItem => item.novehicle) Vehicle</span>*@
                        </div>
                        <div class="col-lg-4">
                            <span style="float:right;">
                                @Html.DisplayFor(modelItem => item.dst_state),
                                @Html.DisplayFor(modelItem => item.dst_city) <br />
                                @Html.DisplayFor(modelItem => item.dst_landmark)- @Html.DisplayFor(modelItem => item.dst_pincode)
                            </span>
                            <br /><br />
                            <span style="float:right;padding-top:5%;color:orange;font-weight:bold">@Html.ActionLink("Details", "Details", new { Id = item.postingid }, new { htmlAttributes = new { color = "orange" } }) <span class="ti-arrow-circle-right"></span></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-4">
                            <span class="col-lg-6" style="font-weight:bold">Vehicle Type : </span>@Html.DisplayFor(modelItem => item.vehicletype)<br />
                            <span class="col-lg-6" style="font-weight:bold">Package Type : </span>@Html.DisplayFor(modelItem => item.packagetype)<br />
                        </div>
                        <div class="col-lg-4">
                            <span class="col-lg-12" style="font-weight:bold">Order Type : </span>@Html.DisplayFor(modelItem => item.ordertypeValue)
                            <div class="col-lg-12">
                                <span style="font-weight:bold">Pickup On : </span>@Html.DisplayFor(modelItem => item.pickupdatetime)
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="col-lg-12">
                                <span style="font-weight:bold">Bidding Activate On : </span>
                                @Html.DisplayFor(modelItem => item.biddingactivatedatetime)
                            </div>
                            <div class="col-lg-12">
                                <span style="font-weight:bold">Bidding Close On : </span>
                                @Html.DisplayFor(modelItem => item.biddingclosedatetime)
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>

</div>
