<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title - QuickTrans</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/sweetCss")
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_QTHeader")
        @Html.Partial("_QTSidebar")
        @RenderBody()
        @Html.Partial("_QTFooter")
        @Html.Partial("_QTAside")
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryValidate")
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/sweet")
    @RenderSection("scripts", required: false)
</body>
</html>
